*{
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.background-img{
    background-image: url(images/Group\ 4170.svg);
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
.logo{
    margin-top: 30px;
    margin-left: 71px;
}
.nav-bar, .nav-items, .navbar-buttons{
    display: flex;
}
.nav-bar{
    justify-content: space-between;
}
.navbar-buttons{
    margin-right: 71px;
    font-size: 16px;
}
.get-started, .book-demo{
    padding: 14px 20px;
    margin-top: 36px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.get-started{
    background-color: #DBF301;
    margin-right:10px;
    border: none;
}
.book-demo{
    border: solid #DBF301 2px;
    background-color: white;
    margin-left:10px;
}
.signin{
    background: none;
    border: none;
    font-size: 16px;
    margin-top: 18px;
    line-height: 24px;
    font-weight: 500;
}
.getstarted{
    font-size: 16px;
    padding: 14px 16px;
    line-height: 24px;
    background: #DBF301;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-left: 24px;
    gap: 8;
    font-weight: 500;
}
.features, .our-team, .pricing{
    margin-top: 34px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 500;
}
.box{
    display: flex;
    justify-content: space-around;
    margin-top: 263px;
}
.gumroad, .toyota, .barclays, .airbnb{
    padding-top: 106px;
    margin-bottom: 200px;
    fill: 9C8F8F;
}
.grid-container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-items: center;
}
.grid{
    max-width: 330px;
    justify-content: center;
    text-align: center;
}
.grid-img{
    margin-top: 101px;
}

.img-1{
    display: flex;
    justify-content: center;
    margin-top: 69px;
}
.card-2{
    display: flex;
    margin-top: 173px ;
    justify-content: space-around;
}
.card-3{
    display: flex;
    max-width: 625px;
}
.card-content{
    margin: 14px 0px 14px 40px;
}
.card-img{
    max-width: 239px;
    max-height: 239px;
}
.last-container{
    display: flex;
    justify-content: space-around;
    margin-top: 239px;
}
.card-4,.card-5{
    min-width: 318px;
    min-height: 476px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.card-4{
    background-color: rgba(72, 90, 255, 1);
    color: white;
}
.card-5{
    background-color: white;
    border: rgba(229, 234, 241, 1) solid 1px;
    color: #0F172A;
}
ul{
    list-style-type:none ;
}